@{
    Layout = "";
}

@model Service.ViewModels.VMPagesContent

    <div id="Inner">

        <div class="InnerTxt">
            @Html.Raw(@Model.PagesContentvm.Contents)

        </div>
    </div>

