<div id="slider">

    <!-- BANNER -->
    <div id="MSI-Banner" class="banner-main position-r mb10 fl clear" style="width: 950px; height: 340px;" on="3">
        <ul>
            <li class="w960 position-r" l="on" style="display: none;">
                <a href="http://us.msi.com/product/mb/Z77-GAMING.html" target="_self" title="Z77 Gaming" thumb="/images/banner/banner_20130305162315.jpg" pic="/images/banner/slide_one.jpg">

                    <img src="/images/banner/slide_one.jpg" alt="Z77 Gaming" border="0" title="Z77 Gaming" id="banner_img_0" style="width: 960px; height: 340px; display: inline-block;" class="hide">
                </a>
                <div class="banner-content position-a z250 clear hide" style="cursor: pointer;"><div class="banner-content-body position-a z250"><h3>Z77 Gaming</h3><span></span></div><div class="banner-content-bg position-a z200 ui-corner-all"></div></div>
            </li>
            <li class="w960 position-r" l="on" style="display: none;">
                <a href="http://event.msicomputer.com/MSIevents/Default.aspx?id=l4OIuHOmcbw%3d" target="_self" title="Never Settle Reloaded" thumb="/images/banner/banner_20130312090340.jpg" pic="/images/banner/banner_20130312090928.jpg">

                    <img src="/images/banner/banner_20130312090928.jpg" alt="Never Settle Reloaded" border="0" title="Never Settle Reloaded" id="banner_img_1" style="width: 960px; height: 340px; display: inline-block;" class="hide">
                </a>
                <div class="banner-content position-a z250 clear hide" style="cursor: pointer;"><div class="banner-content-body position-a z250"><h3>Never Settle Reloaded</h3><span></span></div><div class="banner-content-bg position-a z200 ui-corner-all"></div></div>
            </li>
            <li class="w960 position-r" l="on" style="display: none;">
                <a href="http://event.msicomputer.com/MSIevents/Default.aspx?id=7IvwNjprZqc%3d" target="_blank" title="March MIR" thumb="/images/banner/banner_20130302011244.jpg" pic="/images/banner/banner_20130302011252.jpg">

                    <img src="/images/banner/banner_20130302011252.jpg" alt="March MIR" border="0" title="March MIR" id="banner_img_2" style="width: 960px; height: 340px; display: inline-block;" class="hide">
                </a>
                <div class="banner-content position-a z250 clear hide" style="cursor: pointer;"><div class="banner-content-body position-a z250"><h3>March MIR</h3><span></span></div><div class="banner-content-bg position-a z200 ui-corner-all"></div></div>
            </li>
            <li class="w960 position-r" l="on" style="display: list-item;">
                <a href="http://event.msicomputer.com/MSIevents/Default.aspx?id=9q9zkdw348Q%3d" target="_blank" title="MSI Bracket Challenge" thumb="/images/banner/banner_20130302011546.jpg" pic="/images/banner/banner_20130302011912.jpg">

                    <img src="/images/banner/banner_20130302011912.jpg" alt="MSI Bracket Challenge" border="0" title="MSI Bracket Challenge" id="banner_img_3" style="width: 960px; height: 340px; display: inline-block;" class="hide">
                </a>
                <div class="banner-content position-a z250 clear hide" style="cursor: pointer;"><div class="banner-content-body position-a z250"><h3>MSI Bracket Challenge</h3><span></span></div><div class="banner-content-bg position-a z200 ui-corner-all"></div></div>
            </li>
            <li class="w960 position-r" l="on" style="display: none;">
                <a href="http://event.msicomputer.com/MSIevents/Default.aspx?id=PRACTSlaDIE%3d" target="_blank" title="Power UP with Firefall" thumb="/images/banner/banner_20130202020114.jpg" pic="/images/banner/banner_20130202020120.jpg">

                    <img src="/images/banner/banner_20130202020120.jpg" alt="Power UP with Firefall" border="0" title="Power UP with Firefall" id="banner_img_4" style="width: 960px; height: 340px; display: inline-block;" class="hide">
                </a>
                <div class="banner-content position-a z250 clear hide" style="cursor: pointer;"><div class="banner-content-body position-a z250"><h3>Power UP with Firefall</h3><span></span></div><div class="banner-content-bg position-a z200 ui-corner-all"></div></div>
            </li>
            <li class="w960 position-r" l="on" style="display: none;">
                <a href="http://event.msicomputer.com/MSIevents/Default.aspx?id=G0VcIm020M8%3d" target="_self" title="3DMark" thumb="/images/banner/banner_20130206083305.jpg" pic="/images/banner/banner_20130206083316.jpg">

                    <img src="/images/banner/banner_20130206083316.jpg" alt="3DMark" border="0" title="3DMark" id="banner_img_5" style="width: 960px; height: 340px; display: inline-block;" class="hide">
                </a>
                <div class="banner-content position-a z250 clear hide" style="cursor: pointer;"><div class="banner-content-body position-a z250"><h3>3DMark</h3><span></span></div><div class="banner-content-bg position-a z200 ui-corner-all"></div></div>
            </li>
            <li class="w960 position-r" l="on" style="display: none;">
                <a href="http://www.msimobile.com/level2_productlist.aspx?id=114" target="_blank" title="GT60 Workstation" thumb="/images/banner/banner_20130105015412.jpg" pic="/images/banner/banner_20130105015042.jpg">

                    <img src="/images/banner/banner_20130105015042.jpg" alt="GT60 Workstation" border="0" title="GT60 Workstation" id="banner_img_6" style="width: 960px; height: 340px; display: inline-block;" class="hide">
                </a>
                <div class="banner-content position-a z250 clear hide" style="cursor: pointer;"><div class="banner-content-body position-a z250"><h3>GT60 Workstation</h3><span></span></div><div class="banner-content-bg position-a z200 ui-corner-all"></div></div>
            </li>
            <li class="w960 position-r" l="on" style="display: none;">
                <a href="http://www.msimobile.com/level3_productpage.aspx?cid=6&id=381" target="_blank" title="MSI GX60 - NEVER SETTLE" thumb="/images/banner/banner_20121127090323.jpg" pic="/images/banner/banner_20130208093220.jpg">

                    <img src="/images/banner/banner_20130208093220.jpg" alt="MSI GX60 - NEVER SETTLE" border="0" title="MSI GX60 - NEVER SETTLE" id="banner_img_7" style="width: 960px; height: 340px; display: inline-block;" class="hide">
                </a>
                <div class="banner-content position-a z250 clear hide" style="cursor: pointer;"><div class="banner-content-body position-a z250"><h3>MSI GX60 - NEVER SETTLE</h3><span></span></div><div class="banner-content-bg position-a z200 ui-corner-all"></div></div>
            </li>

        </ul>



    </div>
</div>
