<div class="box255">
    <div class="index_newsbox">
        <div id="news_btn" class="pos-r">
            <!-- <span class="pos-a" style="left:20px; top:9px;"><img src="/images/front/icon_mic.png" width="18" height="18" alt="News" /></span> -->
            <a href="javascript:void(0);">News</a>
        </div>
        <div id="video_btn" class="pos-r">
            <!-- <span class="pos-a" style="left:20px; top:9px;"><img src="/images/front/icon_film.png" width="18" height="18" alt="Video" /></span> -->
            <a href="javascript:void(0);">Video</a>
        </div>
        <div id="MSI-news">

            <img src="/images/news_pic.jpg" width="35" height="35" alt="" class="st-thumb">
            <span class="st-date">Thu, 06 Dec 2012 - MSI News</span>


            <a title="" href="http://us.msi.com/news-media/news/100082.html">Why IGREEN? How I Can Choose This Company?</a>

            <p class="st-content">



                MSI to Showcase CES Innovations 2013 Design and Engineering Award Honorees







                Acclaimed products, including GTX680 Lig
                <br />
                <a class="smalllink" href="/">GET MORE DETAILES</a>
            </p>


            <div class="st-control"><div class="clear"></div><div class="st-control-bar" style="width: 76px;"><ul><li no="0" state="off" class="st-tip st-tip-off mr5 fl" style="cursor: pointer;">&nbsp;</li><li no="1" state="off" class="st-tip st-tip-off mr5 fl" style="cursor: pointer;">&nbsp;</li><li no="2" state="off" class="st-tip st-tip-off mr5 fl" style="cursor: pointer;">&nbsp;</li><li no="3" state="on" class="st-tip st-tip-off fl st-tip-on" style="cursor: pointer;">&nbsp;</li></ul></div><div class="clear"></div></div>
        </div>
        <div id="box-video" style="display:none;">
            <object type="application/x-shockwave-flash" id="msi_video_player" name="msi_video_player" data="http://us.msi.com/js/video/player/player.swf" width="220" height="115"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="wmode" value="transparent"><param name="flashvars" value="file=http://www.youtube.com/watch?v=GKC4aEkm6oI&amp;image=/pic/video/video_20120821140021.jpg&amp;skin=/js/video/skins/simple.swf&amp;autostart=false"></object>
            <input class="video-file" type="hidden" value="http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DGKC4aEkm6oI">
            <input class="video-image" type="hidden" value="/pic/video/video_20120821140021.jpg">
            <input class="video-auth" type="hidden" value="us.msi.com:a69335a5befc62cdd3741fd37f006ad6">
            <div class="title"><a href="">MSI GT60/GT70 Gamer Commercial</a></div>
        </div>
    </div>
</div>
