<div id="footer">
    <ul class="Fblock">
        <li>
            <h4>About Igreen</h4>

            <ul class="Fmenu">
                <li>
                    <a>
                        MSI Vision
                    </a>
                </li>
                <li>
                    <a>
                        Brand Story
                    </a>
                </li>
                <li>
                    <a>
                        Investor Information
                    </a>
                </li>
                <li>
                    <a>
                        Innovation DNA
                    </a>
                </li>
                <li>
                    <a>
                        Certificate
                    </a>
                </li>
                <li>
                    <a>
                        Environment Protection
                    </a>
                </li>
                <li>
                    <a>
                        CSR
                    </a>
                </li>
                <li>
                    <a>
                        Social Welfare
                    </a>
                </li>
            </ul>

        </li>
        <li>
            <h4>About Igreen</h4>

            <ul class="Fmenu">
                <li>
                    <a>
                        News
                    </a>
                </li>
                <li>
                    <a>
                        Awards
                    </a>
                </li>
                <li>
                    <a>
                        Video Center
                    </a>
                </li>
                <li>
                    <a>
                        Social Media
                    </a>
                </li>

            </ul>
            <br />
            <h4>NEWSLETTER</h4>
            <input value="your name" name="name" type="text" size="13">
            <div class="clear"></div>
            <input value="your Email" name="" type="text" size="13">
            <div class="clear"></div>
            <input class="Fsubmit" name="" type="submit">
        </li>
        <li>
            <h4>NEWS & MEDIA</h4>

            <ul class="Fmenu">
                <li>
                    <a>
                        Notebook
                    </a>
                </li>
                <li>
                    <a>
                        All-in-One PC
                    </a>

                </li>
                <li>
                    <a>
                        Motherboard
                    </a>
                </li>
                <li>
                    <a>
                        Graphics Card
                    </a>
                </li>
                <li>
                    <a>
                        Desktop / Barebone
                    </a>
                </li>
                <li>
                    <a>
                        Server
                    </a>
                </li>

            </ul>

            <br />
            <h4>Social Network</h4>
            <ul class="social">
                <li>
                    <img src="/images/youtube.png" width="32" height="30">
                </li>
                <li>
                    <img src="/images/twitter.png" width="32" height="30">
                </li>
                <li>
                    <img src="/images/facebook.png" width="32" height="30">
                </li>
                <li>
                    <img src="/images/linkedin.png" width="32" height="30">
                </li>
            </ul>
        </li>
        <li>
            <h4>About Igreen</h4>

            <ul class="Fmenu">
                <li>
                    <a>
                        Troubleshooting
                    </a>
                </li>
                <li>
                    <a>
                        FAQ
                    </a>
                </li>
                <li>
                    <a>
                        MSI Forum
                    </a>
                </li>
                <li>
                    <a>
                        Warranty Information
                    </a>
                </li>
                <li>
                    <a>
                        Global Warranty Service for
                    </a>
                </li>

            </ul>
            <br />
            <img src="/images/footbanner.png" width="225" height="130">
        </li>
    </ul>
    <div id="footer_end">
        <div id="cp">
            <img src="/images/green_copy.png" width="83" height="19">
            Copyright © 2013 IGREEN Int'l Co.,Ltd. All rights reserved. We recommend using IE8 above browser.
        </div>
        <div id="logofoot">
            <img src="/images/greenlogo_foot.png" width="139" height="36">
        </div>
    </div>
</div>