<div id="topbutton">

    <div class="searchBox">
        <input class="search-keyword" type="text" value="" style="width:45px">
        <button class="search-btn" value>
    </div>

    <ul id="nav" class="dropdown translate-horizontal">
        </li>
        <li id="n-shows">
            <a href="./" class="dir"><img src="/images/language_icon.png"></a>
            <ul>
                <li class="first eng"><a href="./">English</a></li>
                <li class="per"><a href="./">Persian</a></li>
                <li class="ara"><a href="./">Arabic</a></li>

            </ul>
        </li>

    </ul>
    <ul id="nav" class="dropdown translate-horizontal login">
        </li>
        <li id="n-shows">
            <a href="./" class="dir"><img src="/images/login.png"></a>
            <ul class="Fblock">
                <li class="head">
                    <h4>Member Login</h4>
                </li>
                <li class="first">
                    <input value="Username" name="name" type="text" size="13">
                </li>

                <li><input value="Password" name="" type="text" size="13"></li>

                <li> <input class="Fsubmit" name="" value="Login" type="submit"></li>


            </ul>
        </li>

    </ul>

</div>